:root {
    --Color0: rgb(127, 251, 255);
    --textWhite: rgb(247, 247, 247);
    --btnGreen: rgb(103, 255, 97);
    --btnRed: rgb(103, 255, 97);
    --btnGray: rgb(139, 139, 139);
    --bgRed: rgb(255, 148, 148);
}