html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

* {
    border-spacing: 0px;
}

#dpl {
    border: 0;
    width: 100%;
    height: calc(100% - 5em);
}

.btnsLink {
    width: 25%;
    height: 5em;
}

.btnsLink>button {
    width: 100%;
    height: 100%;
    border: 0px;
    /*background-color: rgb(30, 190, 102);*/
    background: linear-gradient(0deg, rgb(50 219 188), rgb(38 215 117));
    color: #ffffff;
    font-size: 18px;
}

.btnsLink>button:active {
    background-color: rgb(20, 145, 76);
}

.navBtnsLinks {
    width: 100%;
    height: 5em;
}