/* --- Estilos Agendas --- */

.vacinaList {
    width: 100%;
    height: 100%;
    min-height: 3em;
    background: linear-gradient(314deg, #0f6868, #4d7e5169), url(../../img/bg.png);
    background-size: cover;
    border-radius: 1em;
    border-spacing: 0px;
    /*border: rgb(46, 46, 46) 2px solid;*/
}

.vacinaList tr th {
    padding: 0px;
    width: 100%;
    height: 1.5em;
    background-color: white;
    border-radius: 4em;
    padding: 0.4em;
}

.vacinaList li {
    list-style: none;
    width: 95%;
    min-height: 6em;
    color: black;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    margin-block: 0.2em;
}

.vacinaList li.tvApliced {
    background-color: rgb(103, 255, 97);
    border: solid 4px rgb(76, 190, 48);
}

.vacinaList li.tvPass {
    background: var(--btnGray);
    border: solid 4px rgb(85, 85, 85);
}

.vacinaList li.tvWaiting {
    background-color: var(--Color0);
    border: solid 4px rgb(98, 192, 199);
}

.vacinaList li.tvProximo {
    background-color: var(--bgRed);
    border: solid 4px rgb(197, 81, 46);
}

.vacinaList li span {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.vacinaList li h3 {
    width: fit-content;
    float: left;
}

.vacinaList li p {
    text-align: end;
}

.vacListSlots {
    display: block;
    height: 100%;
    contain: content;
    overflow-y: scroll;
}


/* --- SLOTS VACINAS --- */

a.select {
    display: contents;
}

.iconVac {
    float: left;
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
}

.material-icons {
    margin: 0.1em 0.4em 0em 0em;
}

.dateErrorfalse {
    color: red;
    display: none;
    margin: 0.2em 0em 0.6em 1em;
}

.dateErrortrue {
    color: red;
    display: flex;
    margin: 0.2em 0em 0.6em 1em;
}

.selectVacina {
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: 5;
}

.selectVacina .SVbase {
    width: 100%;
    height: fit-content;
    background: #dce2e9;
    position: fixed;
    left: 0%;
    z-index: 5;
    border-radius: 1em 1em 0em 0em;
    padding: 2em;
    box-sizing: border-box;
}

.selectVacina .SVbase .SVicon {
    float: left;
}

.selectVacina .SVbase .SVbtn {
    margin: 0em 0em 1em 0em;
    display: block;
}

.selectVacina .SVbase .SVBapply {
    margin: 0% 2.5%;
    width: 45%;
    height: 3em;
    border-radius: 1em;
    border: none;
    background: var(--Color0);
    font-size: 14pt;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(26, 26, 26);
}

.selectVacina .SVbase .SVBclose {
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 1em;
}

.selectVacina .SVbase .SVBremove {
    margin: 0% 2.5%;
    width: 45%;
    height: 3em;
    border-radius: 1em;
    border: none;
    background: var(--bgRed);
    font-size: 14pt;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgb(26, 26, 26);
}

.selectVacina .bgBlack {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(3px);
}

.selectVacina.no-select {
    display: none;
    animation: startShow 0.1s linear;
}

.selectVacina.select {
    display: block;
    animation: startShow 0.1s linear;
}

.selectVacina.select .SVbase {
    bottom: 0%;
    animation: startShowSVBase 0.25s ease;
}

@keyframes startShow {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes startShowSVBase {
    0% {
        bottom: -50%;
    }
    100% {
        bottom: 0%;
    }
}