html,
body {
    padding: 1em;
    box-sizing: border-box;
}

.infoUser {
    opacity: 0%;
    width: 100%;
    height: fit-content;
    padding: 1em;
    box-sizing: border-box;
    /*border: solid black 2px;*/
    border-radius: 1em;
    background: linear-gradient(310deg, #49D3F2, #79EDAF, #1CE87B);
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    filter: drop-shadow(5px 6px 3px rgba(0, 25, 10, 0.568));
    animation: moveLeft_fadeIn 700ms 100ms forwards;
}

.infoUser hr {
    border: solid 1px;
    border-radius: 2em;
}

.infoUser>h3 {
    display: contents;
}

.imgUser {
    height: 50pt;
    margin-right: 0.5em;
}

br {
    line-height: 5px;
}

nomeUser,
dtUser {
    font-size: 14pt;
    color: black;
}

.btnBig {
    width: 100%;
    height: 2.5em;
    background: #1CE87B;
    border: none;
    border-radius: 1em;
    font-size: 14pt;
    font-weight: bold;
    color: #222222;
    margin: 0.25em 0em;
}

.btnSetTheme {
    color: aliceblue;
    background: #222222;
}